@model IEnumerable<Card>

@{
    ViewData["Title"] = "Display Selected Cards";
}

<h1>Selected Cards</h1>

<p>
    Displaying @ViewBag.SelectedCardCount of @ViewBag.TotalCardCount Cards
</p>

<table class="table">
    <thead>
        <tr>  
            <th>
                @Html.DisplayNameFor(model => model.Suit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Suit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
        </tr>
}
    </tbody>
</table>
